
<br>
<div class="justify-content-center align-items-center" style="box-shadow: 0px 2px 10px rgba(0,0,0,0.5); padding: 10px; background-color: white;">
  <br>
  <%= render 'form', example: @example %>
</div>
